*{
    margin: 0;
    padding: 0;
}
body{
    font-family: monospace;
}
input{
    -webkit-appearance: none;
    appearance: none;
    font-family: monospace;
    display: block;
}
form{
    background-color: white;
    width: 150px;
    padding: 20px;
    border-radius: 0 20px 20px 0;
    box-shadow: 2px 2px 8px rgb(0,0,0,0.2);
    position: fixed;
    left: 0;
    top: 250px;
}
input[type="text"]{
    border: none;
    border-bottom: 1px dashed #333;
    width: calc(100% - 10px);
    padding: 5px;
}
.error{
    margin-top:10px;
    color:#b00;
    display: none;
}

.visible{
    display: block;
}
input[type="submit"]{
    border: 1px solid #333;
    border-radius: 10px;
    background-color: transparent;
    color: #333;
    padding: 10px;
    margin-top: 20px;
}
ul{
    list-style: none;

}
li{
   text-align: center;
   font-size: 2.5em;
   color:white;
   padding: 20px;
   text-shadow: 2px 2px 0 #222;
}